*,
*::before,
*::after {
  box-sizing: content-box;
}
:root {
  --body-color: #434455;
  --header-back-color: rgba(255, 255, 255, 1);

  --logo-accent-color: rgba(77, 90, 229, 1);
  --logo-color: rgba(46, 47, 66, 1);
}

/*basic style başlangıç*/
body {
  font-family: "Roboto", sans-serif;
  color: var(--body-color);
  margin: 0;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  text-decoration: none;
}
.logo,
.logo-accent {
  list-style: none;
  text-decoration: none;
}

img {
  max-width: 100%;
}
.icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.icon-list a {
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  height: 40px;
  width: 40px;
}
.icon-list a:hover {
  background-color: #31d0aa;
}

.icon {
  fill: #ffffff;
  width: 16px;
  height: 16px;
}

/*basic style bitiş*/
/*header başlangıç*/

.header {
  background-color: var(--header-back-color);
  border-bottom: 1px solid #e7e9fc;
  height: 72px;
  display: flex;
  align-items: center;
}
.header-left {
  display: flex;
  align-items: center;
  gap: 76px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*logo başlangıç*/

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  text-decoration: none;
  display: block;
}

.logo-accent {
  color: var(--logo-accent-color);
}
/*logo bitiş*/
/*navihasyon başlangıç*/
.navigation .nav-list {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   position: relative;
  display: inline-block;
  padding: 24px 0;}

  .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.nav-link:hover,
.nav-link:focus{
  color: #404bbf;
  
}
.nav-link:hover::after,
.nav-link:focus::after{
  color: #404bbf;
    width: 100%;
  
}

.navigation {
  display: flex;
  list-style-type: none;
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-list {
  display: flex;
  gap: 40px;
  list-style: none;
}
.navigation:hover {
  color: #404bbf;
}

/*header-navigation bitiş*/

/*header contacts başlangıç*/
.contacts {
  display: flex;
  list-style-type: none;
  align-items: flex-end;
  text-decoration: none;
  justify-content: space-between;
}

.contacts :hover {
  color: #404bbf;
}
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}
.contacts ul {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.contact-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--body-color);
}

/*header-contacts bitiş*/

/*post sınıfı başlangıç*/
.post {
  background-color:#2E2F42;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
  background-image: url(../images/people-office\ 1.jpg);
  background-size:1440px;
  background-position: center;
  position: relative;
 height:600px;

}
.post .container {
 width: 100%;
 height:100%;
   background-color:rgba(46, 47, 66, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: auto;
  left: auto;
  text-align: center;
}
.post .title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-bottom: 48px;
}

.post-link {
  padding: 16px 32px;
  border-radius: 4px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 250ms ease;
}

.post-link:hover,
.post-link:focus {
  background-color: #404bbf;
}

/*post sınıfı bitiş*/

/*main sınıfı bailangıç*/
.main {
  padding-top: 120px;
  padding-bottom: 120px;
}

.main .target {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
}
.main .list {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8px;
  margin: 0 12px;
  box-sizing: border-box;
  text-align: left;
}

.main .title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.main .text {
  color: rgba(67, 68, 85, 1);
  font-weight: 400;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 2%;
}
/*main sınıfı bitiş*/

/*team section sınıfı başlangıç*/

.team-section {
  background-color: rgba(244, 244, 253, 1);
  padding: 120px 0;
}

.team {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
  color: rgba(46, 47, 66, 1);
  text-transform: capitalize;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.team-section .target {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 24px;
  padding: 0;
  margin: 0;
}

.team-card .title {
  color: rgba(46, 47, 66, 1);
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 2%;
  text-align: center;
  margin: 0;
}

.team .text {
  color: rgba(67, 68, 85, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  text-align: center;
  margin: 0;
}
.team-section .list {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 1px 1px rgba(0, 0, 0, 0.16),
    0px 1px 6px rgba(0, 0, 0, 0.08);
    transition:box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 264px;
  overflow: hidden;
  text-align: center;
  padding-bottom: 32px;
}

.photo {
  width: 100%;
  height: auto;
  margin-bottom: 32px;
}

.team-card {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/*team section sınıfı bitiş*/

/*portfolio-section sınıfı başlangıç*/
.portfolio-section {
  background-color: #ffffff;
  padding: 120px 0;
}
.portfoli-section .container {
  width: 1158px;
}
.portfolio-section .portfolio {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  font-family: "Roboto", sans-serif;
}
.portfolio-section .target {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.portfolio-section .list {
  width: calc((100% - 48px) / 3);
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-section .list:hover{
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
transition:box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-box {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 8px;
  padding: 32px 16px;
}
.overlay-box{
  position:relative;
  width: 360px;
  height:300px;
  background-color: rgba(77, 90, 229, 1);
  margin:0 auto;
  overflow: hidden;
}
.overlay{
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  transform:translateY(100%) ;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);;
   background-color: rgba(77, 90, 229, 1);
}
.overlay-box:hover .overlay{
  transform:translateY(0);
}
.overlay p{
  font-weight: 400;
  font-size:16px;
  line-height:1.5;
  letter-spacing: 0.02em;
  font-family: "Roboto",sans-serif;
  color:rgba(244, 244, 253, 1);
  position:absolute;
  top:40px;
  left:32px;
 
}
.portfolio-section .title {
  color: rgba(46, 47, 66, 1);
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  
}
.portfolio-section .text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: rgba(67, 68, 85, 1);
  margin: 8px 0 0;
  
}

.portfolio-section .photo {
  width: 100%;
  display: block;
}

/*portfolio-section sınıfı bitiş*/
/*footer  sınıfı başlangıç*/
.footer {
  background-color: #2e2f42;
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
  
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  max-width: 264px;
  margin-left: 0;
  padding-left: 156px;
}

.footer .logo {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
 
}

.footer .logo-accent {
  color: #4d5ae5;
 
}

.footer-text {
  color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
 
}

.social-footer {
  color: #ffffff;
  gap: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin:0;
  align-items: flex-start;
  position: absolute;
  top: 120px;
  left: 540px;
 
}
.social-title-footer {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

}
.icon-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 40px;
}
.icon-footer .icon {
  fill: #ffffff;
  height: 24px;
  width:24px;
 
}
.icon-footer a {
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  height: 40px;
  width:40px;

}

/*footer sınıfı bitiş*/
